.custom-container {
    width: 85%;
    margin: 0 auto;
}

.custom-container-70 {
    width: 70%;
    margin: 0 auto;
}

.custom-container-90 {
    width: 90%;
    margin: 0 auto;
}

.line-break {
    border-top: 1px solid #c3c3c3;
    height: 1px;
    width: 100%;
    margin-bottom: 20px;
}

.mobile-accordions {
    display: none;
}

.course-details-section .course-tab{
    display: none;
}


/** HEADER **/
#header {
    background: #fff;
    box-shadow: 0px 0px 15px #000;
    z-index: 2;
    position: fixed;
    width: 100%;
}

#header .custom-container .navbar-nav {
    position: relative;
    top: 10px;
}

#header .custom-container .navbar-nav .nav-item {
    margin-left: 20px;
    font-size: 14px;
    color: #323130;
}

#header .custom-container .navbar-nav .nav-item img {
   width: 50px;
   border-radius: 50%;
   height: 50px;
   position: relative;
   bottom: 10px;
}

#header .custom-container .navbar-nav .nav-link {
    color: #323130;
}

#header .custom-container input {
    background:#EFEFEF;
    border: none;
    height: 45px;
    border-radius: 7px 0 0 7px;
}

#header .custom-container input i {
    font-size: 14px;
}


#header .custom-container .input-group-text {
    background:#EFEFEF;
    color: #A19F9D;
    border: none;
    border-radius: 0px 7px 7px 0;
}

#header .custom-container ::placeholder {
    background:#EFEFEF;
    font-size: 13px;
    color: #A19F9D;
}

#header .custom-container .button-white {
    border: 1px solid #0F0708;
    color: #0F0708;
    border-radius: 7px;
    padding: 8px 30px;
    font-size: 14px;
}

#header .custom-container .button-white:hover {
    border: 1px solid #0F0708;
    background: #0F0708;
    color: #fff;
    border-radius: 7px;
    padding: 8px 30px;
    font-size: 14px;
}

#header .custom-container .button-dark {
    border: 1px solid #0F0708;
    background: #0F0708;
    color: #fff!important;
    border-radius: 7px;
    padding: 8px 30px;
    font-size: 14px;
}

#header .custom-container .button-dark:hover {
    border: 1px solid #0F0708;
    background: #fff;
    border-radius: 7px;
    padding: 8px 30px;
    font-size: 14px;
    color: #0F0708!important;
}

/** main content **/
#main__content {
    position: relative;
    top: 80px;
    overflow: hidden;
}

/** SIDEBAR **/

#main__content .sidebar{
    background: #FDE8E9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    height: 90vh;
    padding: 10px 0;
    position: fixed;
    width: 24.5%;
}

#main__content .sidebar i{
    cursor: pointer;
}

#main__content .sidebar .sidebar-heading {
    color: #0F0708;
    font-size: 24px;
    padding: 20px 0;
}

#main__content .sidebar .sidebar-content {
    overflow: scroll;
    height: 85%;
}

#main__content .sidebar .accordions .card .section-header {
    font-weight: bold;
}

#main__content .sidebar .accordions .card .card-header {
    background: #FDE8E9;
    border: none;
    padding:15px;
    margin: 0;
    cursor: pointer;
}

#main__content .sidebar .accordions .card .card-body {
    background: #FDE8E9;
    border: none;
    padding: 10px 15px;
}

#main__content .sidebar .accordions .card .card-body a{
    color: #000;
    text-decoration: none;
}

#main__content .sidebar .accordions .card .card-body a:hover{
    color: #E71C23;
}
#main__content .sidebar .accordions .card .card-body .course-content {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

#main__content .sidebar .accordions .card .card-body .course-content i{
    position: relative;
    top: 5px;
    font-size: 20px;
}
#main__content .sidebar .accordions .card .card-body .course-content .content-description {
    width: 80%;
    margin-left: 10px;
}
#main__content .sidebar .accordions .card .card-body .course-content .content-description  p {
    margin: 0;
}
#main__content .sidebar .accordions .card .card-body .course-content .content-description span {
    font-size: 13px;
}

#main__content .sidebar .accordions .card {
    border: none;
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    border-radius: 0;
}

/** SUB NAV BAR **/

#main__content .sub-nav {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    padding: 25px;
}

#main__content .sub-nav p {
    margin: 0;
    padding: 0;
}

/** COURSE VIEW **/
#main__content .course-display video:focus {
    outline: 0;
}

#main__content .course-display .course-display-content {
    border: 1px solid #BDBDBD;
    height: 500px;
    margin: 10px 0;
    padding: 20px;
    overflow: scroll;
}
#main__content .course-display .course-display-content .option {
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px;
    margin: 10px 0;
}

#main__content .course-display .course-display-content .option input {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
    margin-right: 10px;
}

#main__content .course-details-section .tabs {
    border-bottom: 1px solid #f1f0f4;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

#main__content .course-details-section .tabs .tab{
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 2px solid #fff;
    width: 15%;
    text-align: center;
    font-size: 15px;
}

#main__content .course-details-section .tabs .active{
    color: #E71C23;
    border-bottom: 2px solid #E71C23;
}

#main__content .course-details-section .tabs .tab:hover{
    color: #E71C23;
    border-bottom: 2px solid #E71C23;
}

#main__content .course-details-section .tabs .tab p{
    margin: 0;
}

#main__content .course-details-section .overview p img{
    margin-right: 10px;
}

#main__content .course-details-section i{
   position: relative;
}


#main__content .course-details-section .course-details-content p {
    color: #605E5C;
    font-size: 14px;
}


#main__content .course-details-section .card .section-header {
    font-weight: bold;
}

#main__content .course-details-section .card .card-header {
    background: #fff;
    border: none;
    padding:15px;
    margin: 0;
    cursor: pointer;
}

#main__content .course-details-section .card .card-body {
    background: #fff;
    border: none;
    padding: 10px 15px;
}

#main__content .course-details-section .card .card-body a{
    color: #000;
    text-decoration: none;
}

#main__content .course-details-section .card .card-body a:hover{
    color: #E71C23;
}
#main__content .course-details-section .card .card-body .course-content {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

#main__content .course-details-section .card .card-body .course-content i{
    position: relative;
    top: 5px;
    font-size: 20px;
}
#main__content .course-details-section .card .card-body .course-content .content-description {
    width: 80%;
    margin-left: 10px;
}
#main__content .course-details-section .card .card-body .course-content .content-description  p {
    margin: 0;
}
#main__content .course-details-section .card .card-body .course-content .content-description span {
    font-size: 13px;
}

#main__content .course-details-section .card {
    border: none;
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    border-radius: 0;
}

#main__content .footer-section {
    margin-top: 80px;
}

#main__content .footer-section p {
    font-size: 14px;
}

.notes .cancel{
    color: #E71C23;
    border: 1px solid #E71C23;
    border-radius: 4px;
    width: 20%;
    padding: 10px 0;
}

.notes .save{
    background: #E71C23;
    color: #fff;
    border: 1px solid #E71C23;
    border-radius: 4px;
    width: 20%;
    padding: 10px 0;
}

.notes .saved__notes .course-title{
    font-weight: bold;
    color: #000;
}

.notes .saved__notes .course-title span {
    font-weight: lighter;
}

.notes .saved__notes .note {
    width: 100%;
    padding: 20px;
    background: #FFEEEE;
    border-radius: 3px;
    font-size: 15px;
}

.notes .saved__notes .note-title-container {
    display: flex;
    justify-content: space-between;
}

.notes .saved__notes .note-title-container i {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.announcements .announcement__poster {
    display: flex;
    height: 100%;
    justify-content: start;
    align-items: center;
    align-content: center;
}

.announcements .announcement__poster p{
    margin: 0 10px 0 10px;
}
.announcements .announcement__poster div p:nth-child(1){
    font-weight: bold;
    font-size: 18px;
}

.announcements .announcement__poster img {
    width: 80px;
    border-radius: 50%;
    height: 80px;
}

.announcements .announcement-body {
    line-height: 25px;
}

/** MEDIA QUERY **/

@media screen and (max-width:1100px){
    #main__content .sidebar-column {
        display: none;
    }

    .mobile-accordions {
        display: block;
    }

    .course-details-section .course-tab {
        display: block;
    }
}

@media screen and (max-width:580px){
    #main__content .course-details-section .tabs .tab{
        padding: 10px 0;
        cursor: pointer;
        border-bottom: 2px solid #fff;
        width: 20%;
        text-align: center;
        font-size: 13px;
    }

    .custom-container-70 {
        width: 90%;
        margin: 0 auto;
    }
}

.hidden {
    display: none;
}